<!DOCTYPE html>
<html>

    <head>

        <%- include("partials/head.ejs") %>

        <title>TFO Technologische Fachoberschule "Max Valier" Bozen</title>

        <link rel="stylesheet" href="/resources/css/index_page.css">

    </head>

    <body>

        <%- include("partials/navbar.ejs") %>

        <main>

            <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/97/Logo%21_Logo.svg" alt="logo">

        </main>

        <%- include("partials/footer.ejs") %>

        <script>

            $("nav.sidebar").css('left' ,'-100%');;

            $(document).ready(function() {

                setTimeout(() => {

                    $("nav.sidebar").animate({
                        left: "0"
                    }, 2000); 

                }, 500);

            });

        </script>

    </body>

</html>