<!DOCTYPE html>
<html>

    <head>

        <%- include("partials/head.ejs") %>

        <title>TFO Technologische Fachoberschule "Max Valier" Bozen</title>

        <link rel="stylesheet" href="/resources/css/offline_page.css">

    </head>

    <body>

        <%- include("partials/navbar.ejs") %>

        <main>

            <h1>Du bist offline</h1>

        </main>

        <%- include("partials/footer.ejs") %>

    </body>

</html>