
*{ margin: 0; padding: 0; font-family: 'Poppins', sans-serif; }

body{ background-color: var(--background); }

a{ text-decoration: underline; color: var(--linkcolor); }

:root{

    /* Lightmode */

    --background: #fff;
    --linkcolor: #031F4B;
    --switch_background: #ccc;
    --switch_background_selected: #2196F3;
    --switch_slider: #fff;

    --nav_border: #dcdcdc;
    --nav_link_hover: #f5f5f5;
    --nav_link_selected: #ee5b26;

    /* Darkmode */

    --dark_background: #2e2e2e;
    --dark_linkcolor: #fff;
    --dark_switch_background: #ccc;
    --dark_switch_background_selected: #2196F3;
    --dark_switch_slider: #fff;

    --dark_nav_border: #dcdcdc;
    --dark_nav_link_hover: #484848;
    --dark_nav_link_selected: #ee5b26;

}