.darkmode{ position: absolute; top: 0; right: 0; margin: 10px; }

.box-shadow-right:after{

    content: '';

    position: absolute;

    top: 10px;
    right: 0;

    width: 1px;
    height: calc(100% - 20px);
    
    background-color: var(--nav_border);

}

nav.sidebar{ z-index: 1; position: fixed; top: 0; left: 0; width: 250px; height: 100%; overflow-x: hidden; box-sizing: border-box;}
nav.sidebar ul{ position: absolute; top: 50%; transform: translateY(-50%); list-style-type: none; width: 100%; text-align: right;}
nav.sidebar ul a:not(:last-child){ border-bottom: 1px solid var(--nav_border); }

nav.sidebar a{ display: block; padding: 8%; text-decoration: none; background-color: var(--background); font-size: 1.15em; }
nav.sidebar a li{ margin-right: 15px; }
nav.sidebar a:hover{ background-color: var(--nav_link_hover); }

nav.sidebar a.selected{ color: var(--nav_link_selected); font-weight: 600; }
nav.sidebar a.selected li{ margin-right: 0; }
nav.sidebar li img{ height: 20px; width: auto; margin-top: 5px; float: left;}

main{ margin-left: 250px; }